*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{

	background: #000;
	font-family: 'Verdana';
}

.wrap{
	width: 1100px;
	max-width: 110%;
	margin: 30px auto;
}
ul.tabs{
	width: 100%;
	background: #8B0000;
	list-style: none;
	display: flex;
}
ul.tabs li{
	width: 100%;
}
ul.tabs li a{
	color: #FFF;
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	display: block;
	padding: 20px 0px;
}

.active{
	background: #FF0000;
}
ul.tabs li a .tab-text{
	margin-left: 5px;
}

.secciones{
	width: 100%;
	background: #F5F5F5;

}
.secciones article{
	padding: 20px;
}

.secciones article p{
	text-align: justify;
}
@media screen and (max-width: 639px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 20;
	}
}
@media screen and (max-width: 470px){
	ul.tabs li a{
		padding: 15px 0px;
	}

	ul.tabs li a .tab-text{
		display: none;
	}

.secciones article{
		padding: 20px;
	}
}